[submodule "nvim"]
	path = nvim
	url = https://github.com/hiszd/.dot-files-nvim
	branch = main
[submodule "fish"]
	path = fish
	url = https://github.com/hiszd/.dot-files-fish
	branch = main
[submodule "bash"]
	path = bash
	url = https://github.com/hiszd/.dot-files-bash
	branch = main
